@media(max-width:768px){

h1{

font-size:35px;

}

button{

font-size:18px;

padding:14px 30px;

}

.scene{

padding:20px;

}
.scene{
    justify-content: center;
}
.scene-subtitle{
    text-align: center;
}

.balloon-area{
    gap: 25px;
}
.teddy-wrapper{
    display: flex;
    flex-direction: column;
}


/* .balloon-area{
    display: flex;
    flex-direction: column;
    align-items: center ;
} */
#scene2{
    display: flex;
    align-items: center;
}
#scene7{
    width: 375px;
}

/* memory photos  */
@media (max-width: 768px) {
  .memory-gallery {
    display: block;
    text-align: center;
  }

  .memory-card {
    margin: 0 auto;
  }
}

}